# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.pyc
*.pyo

# Django
*.log
db.sqlite3
media/
staticfiles/

# Virtual environment
venv/
env/
.venv/
.venv/

# IDEs and Editors
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.swo

# Operating System
.DS_Store
Thumbs.db